---

---

<a href="#!" class="see-more">Смотреть ещё</a>

<style lang="scss">
	.see-more {
		position: relative;
		display: block;
		padding-left: 60px;
		color: rgb(255 255 255 / 80%);
		text-decoration: none;
		text-transform: uppercase;
		transform: rotate(-90deg) translate(0%, 100%);
		transform-origin: left bottom;

		&::before {
			position: absolute;
			top: calc(50% - 1.5px);
			left: 0;
			width: 38px;
			height: 3px;
			content: '';
			background-color: #fff;
			opacity: 0.3;
		}
	}
</style>
